{% extends "base.html" %}

{% block title%} home.html {% endblock %}

{% load static %}
{% block extrastyle %}{% static 'css/home.css' %}{% endblock %}


{% block content %}
    <div id="content_home">
        <div id="homing">
            <img src="{% static 'img/django-actor-big.jpg' %}" style="height: 400px;"/ >
            <h4 style="margin: 0;">This is Django powered web site.</h4>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <div id='footer'>
        &copy; This is FOOTER area.
    </div>
{% endblock %}

