

{% extends "base.html" %}
{% block title%} 년도별 포스트 {% endblock %}
{%block content %}
<div id="content">
<h1>Post Archives for {{year|date:'Y' }}</h1>

<ul>
    {% for date in date_list %}
        <li style = "display: inline;">
            <a href="{% url 'blog:post_month_archive' date|date:'Y' date|date:'m'%}">{{date|date:'b'}}</a>
            </li>
    {% endfor %}
    </ul>
    <br/>
    <div>
        <ul>
   {% for post in object_list %}
        <li>
        {{post.modify_date|date:"Y-m-d"}}&nbsp;&nbsp;
        <a href="{{ post.get_absolute_url }}"><strong>{{post.title}}</strong></a>
        </li>
    {% endfor %}

</ul>
</br>
</div>
    <ul>
        
    </ul>
</div>
</div>
{% endblock %}